body {
  color: black;
  font-family: "Cairo", sans-serif; }

.fa {
  color: black; }

.perspiciatis h2 {
  color: #184264; }

.perspiciatis p {
  color: grey; }

.lorem-ipsum {
  color: #184264;
  font-weight: 600; }

.lorem-ipsum p {
  color: grey;
  font-weight: 600; }

h1 {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 4.0em; }
  @media (max-width: 62em) {
    h1 {
      font-size: 3.2em; } }
  @media (max-width: 47.9em) {
    h1 {
      font-size: 2.2em; } }

h1.short {
  line-height: 80%; }

h2 {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
  font-size: 3em; }
  @media (max-width: 62em) {
    h2 {
      font-size: 2.3em; } }

h4 {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
  font-size: 1.3em; }
  @media (max-width: 62em) {
    h4 {
      font-size: 1em; } }

h4.text-justify {
  text-align: right;
  max-width: 300px; }
  @media (max-width: 62em) {
    h4.text-justify {
      max-width: 200px; } }

p {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 200%; }

.red {
  color: red; }

.blue-icon .fa {
  color: #184264; }

.white-icon .fa {
  color: white; }

.search-color {
  /* WebKit, Blink, Edge */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* Internet Explorer 10-11 */
  /* Microsoft Edge */ }
  .search-color .form-control::-webkit-input-placeholder {
    color: white; }
  .search-color .form-control:-moz-placeholder {
    color: white; }
  .search-color .form-control::-moz-placeholder {
    color: white; }
  .search-color .form-control:-ms-input-placeholder {
    color: white; }
  .search-color .form-control::-ms-input-placeholder {
    color: white; }

#jumboCarousel {
  margin-top: -50%;
  height: 100%;
  min-width: 100%; }

#jumboCarousel img {
  min-height: 300px;
  min-width: 100%; }

#jumboCarousel .controlsBlock {
  position: relative;
  display: block;
  bottom: 120px;
  width: 177px;
  margin: 0 auto;
  z-index: 1;
  height: 24px;
  text-align: center; }
  @media (max-width: 62em) {
    #jumboCarousel .controlsBlock {
      bottom: 80px; } }

#jumboCarousel .controls {
  position: relative;
  display: block; }

#jumboCarousel .carousel-control {
  position: relative;
  left: 0;
  background: #000000;
  font-size: 5px;
  background: none !important;
  color: #000 !important;
  text-align: center; }

#jumboCarousel .carousel-control {
  font-size: 60px; }
  @media (max-width: 62em) {
    #jumboCarousel .carousel-control {
      font-size: 40px; } }

#jumboCarousel .carousel-control.left {
  left: -10px; }

#jumboCarousel .carousel-control.right {
  left: 10px; }

#jumboCarousel .carousel-control .fa-angle-right,
#jumboCarousel .carousel-control .fa-angle-left {
  z-index: 5;
  display: inline-block; }

#jumboCarousel .carousel-control .fa-angle-right,
#jumboCarousel .carousel-control .fa-angle-left {
  color: white;
  transform: scale(1.5, 1); }

#jumboCarousel .carousel-control .fa-angle-right:hover {
  color: rgba(255, 255, 255, 0.5); }

#jumboCarousel .carousel-control .fa-angle-left:hover {
  color: rgba(255, 255, 255, 0.5); }

#myCaption .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  left: inherit;
  right: inherit;
  width: 280px;
  color: #fff;
  bottom: -95px; }

#jumboCarousel .carousel-caption {
  color: white;
  text-align: center;
  max-width: 500px;
  left: auto;
  /*top: auto;*/
  top: 50%;
  transform: translateY(-50%);
  bottom: initial; }

.item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.spacer {
  min-height: 100px; }

.spacer-half {
  min-height: 50px; }

.ipsum-wrapper {
  background: #184264;
  color: white; }
  .ipsum-wrapper .container {
    top: 90px; }
    @media (max-width: 62em) {
      .ipsum-wrapper .container {
        top: 0; } }

.ipsum-spacer {
  min-height: 50px; }
  @media (max-width: 62em) {
    .ipsum-spacer {
      min-height: 0; } }

.lorem-wrapper p {
  color: black; }

.lorem-wrapper h2 {
  color: #09c0d6; }

.navbar-wrapper {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 10; }

.no-margin {
  padding: 0 !important; }

.form-button:hover {
  background-color: #184264;
  border: 0; }

.form-button {
  background-color: #184264;
  border: 0;
  font-size: 15px;
  padding: 15px 40px;
  border-radius: 0; }

.body-button:hover {
  background-color: #09c0d6;
  border: 0; }

.body-button {
  background-color: #09c0d6;
  border: 0;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 0; }

.plus-button {
  background-color: #09c0d6;
  border: 0;
  font-size: 15px;
  padding: 13px 17px;
  text-align: center;
  border-radius: 0; }

.plus-button:hover {
  background-color: #09c0d6;
  border: 0; }

@media (max-width: 62em) {
  #mynavbar .navbar-brand {
    width: 125px; }
  #mynavbar .navbar-brand > img {
    width: 125px; } }

#mynavbar .navbar {
  width: 100%;
  background: none !important;
  background-color: #fff;
  z-index: 999 !important;
  border-radius: 0;
  border-color: transparent; }

#mynavbar .navbar-toggler {
  cursor: pointer;
  outline: 0; }

#mynavbar .nav-link {
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  font-weight: normal; }

#mynavbar .nav-item {
  padding: 0 1rem; }
  @media (max-width: 34em) {
    #mynavbar .nav-item {
      padding: 0 1rem; } }

#mynavbar .nav-link {
  font-weight: normal;
  color: white !important; }
  @media (max-width: 34em) {
    #mynavbar .nav-link {
      font-weight: normal;
      color: white !important; } }

.form-area {
  background-color: none;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: none; }

.form-control {
  border-color: #09c0d6; }

.form-control:focus {
  border-color: #184264;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #09c0d6; }

#imaginary_container {
  margin-bottom: 5%;
  max-width: 300px; }

.stylish-input-group .input-group-addon {
  background: #09c0d6 !important;
  border-color: #fff; }

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #fff;
  background: #09c0d6; }

.stylish-input-group button {
  border: 0;
  background: transparent; }

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff; }
