body {
  color: white; }

#jumboCarousel {
  margin-top: -50%;
  min-height: 300px;
  min-width: 100%; }

#jumboCarousel img {
  min-height: 300px;
  min-width: 100%; }

#jumboCarousel .carousel-caption {
  color: white;
  left: 58%;
  text-align: center;
  max-width: 500px;
  left: auto;
  /*top: auto;*/
  top: 50%;
  transform: translateY(-50%);
  bottom: initial; }

#hero {
  background: url("/assets/banner.jpg") no-repeat;
  background-size: cover;
  background-position: 0 60%; }

h1 {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 4.0em; }

h4 {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
  font-size: 1.3em; }

h1.short {
  line-height: 80%; }

h4.text-justify {
  text-align: right;
  max-width: 300px; }

.navbar {
  width: 100%;
  background: none !important; }
  @media (max-width: 34em) {
    .navbar {
      background: #184264 !important; } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    font-weight: normal; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
  .navbar .nav-link {
    font-weight: normal;
    color: white !important; }
    @media (max-width: 34em) {
      .navbar .nav-link {
        font-weight: normal;
        color: white !important; } }
